body {
	background-image: url("../images/background.jpg");
	font-family: "Chalk Line Outline";
	margin: 0;
	padding: 0;
}

button {
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.header {
	/*font-family: "Chalk Line Outline";*/
	color: white;
	margin-top: 160px;
	margin-left: 370px;
}

table {
	color: white;
	font-family: "Chawp";
}